*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
      margin: 0;
}

h3 {
      margin: 2vh 0;
}

h4 {
      margin: 1vh 0;
}

.wrapper {
      max-width: 1024px;
      margin: 0 auto;
      text-align: center;
      font-family: sans-serif;
}

.main__content {
      display: flex;
      height: 80vh;
      background-color: #c0c0c0;
}

.profile__header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;
      background-color: #c0c0c0;
}

.profile__photo {
      width: 15vw;
      border-radius: 1em;
}


.contacts {
      text-align: center;
      background-color: #c0c0c0;
}

.contacts__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20vh;
}

.contasts__link {
      display: flex;
      flex-direction: column;
}

.information {
      padding: 2vh 3vw;
      background-color: antiquewhite;
      border-radius: 5em;
      margin-right: 3vw;
}

.knowledges__list {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
}

.list__item {
      background-color: #c0c0c0;
      border-radius: 2px;
      padding: 2px;
      margin-top: 1vh;
}

.projects__list {
      list-style-type: none;
      text-align: left;
}

.projects__link {
      margin-top: 2vh;
}

.profile__certficates {
      display: flex;
      flex-direction: column;
}

.certificates__link {
      margin-top: 1vh;
}

.profile__footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 10vh;
      background-color: #c0c0c0;
}

.footer__logo {
      height: 5vh;
      pointer-events: none;
}